---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="vyast.dev - Home">
  <div class="my-6">
    <div class="text-4xl">👋</div>

    <ul class="py-6 list-disc list-inside">
      <li>20 y/o</li>
      <li>cs student</li>
      <li>
        currently working on: <ul class="list-disc list-inside pl-6 py-1">
          <li>
            <a
              href="https://github.com/venom-ac"
              target="_blank"
              rel="noreferrer noopener"
              class="hover:underline underline-offset-2 leading-8 sm:leading-none"
            >
              Venom Anti-Cheat
            </a>
          </li>

          <li>
            <a
              href="https://github.com/n4-gg"
              target="_blank"
              rel="noreferrer noopener"
              class="hover:underline underline-offset-4 leading-8 sm:leading-none"
            >
              n4.gg
            </a>
          </li>
        </ul>
      </li>
      <li>
        interested in: <ul class="list-disc list-inside pl-6 pb-1">
          <li>web development</li>
        </ul>
      </li>
      <li>
        skills include: <ul class="list-disc list-inside pl-6">
          <li>javascript, typescript, nodejs</li>
          <li>html, css, chakra ui, tailwindcss</li>
          <li>react, vite, nextjs, trpc</li>
          <li>prisma, mysql, postgresql</li>
          <li>lua</li>
        </ul>
      </li>
    </ul>
  </div>
</Layout>
