---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";
import Twitch from "./icons/Twitch.astro";
import Twitter from "./icons/Twitter.astro";
---

<footer class="mb-4">
  <div class="border-t pb-4"></div>

  <div class="flex justify-between">
    <div class="flex items-center gap-3">
      <!-- <a
        href="https://discord.gg/vyast"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Discord
          class="sm:w-6 sm:h-6 w-5 h-5 duration-150 hover:text-gray-400"
        />
      </a> -->

      <a
        href="https://github.com/vyast"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Github
          class="sm:w-6 sm:h-6 w-5 h-5 duration-150 hover:text-gray-400"
        />
      </a>

      <a
        href="https://twitch.tv/vyast"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Twitch
          class="sm:w-6 sm:h-6 w-5 h-5 duration-150 hover:text-gray-400"
        />
      </a>

      <a
        href="https://twitter.com/vyasts"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Twitter
          class="sm:w-7 sm:h-7 w-6 h-6 duration-150 hover:text-gray-400"
        />
      </a>

      <a href="mailto:me@vyast.dev">
        <Email class="sm:w-6 sm:h-6 w-5 h-5 duration-150 hover:text-gray-400" />
      </a>
    </div>

    <div>© {new Date().getFullYear()}</div>
  </div>
</footer>
