<header class="mt-6 xs:mt-24 sm:mt-36">
  <div class="flex justify-between items-baseline">
    <div class="flex justify-between items-center">
      <img src="/images/transparent_logo.png" alt="Logo" class="h-14 w-14" />

      <div class="flex flex-col justify-center ml-4">
        <div class="text-3xl font-semibold">Vyast</div>
        <div class="text-xl font-thin">Noah</div>
      </div>
    </div>

    <div>vyast.dev</div>
  </div>

  <div class="border-b pt-2"></div>
</header>
